body{
    background-color: #12253f;
}
.name{
    padding: 10px;
    width 1000px;
    margin: auto;
    font-family: 'Arial';
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    border: 1px solid white;
    color: white;
    background-color: #12253f;
}
.name:hover{
    background-color: white;
    color: #12253f;
}
.name:active{
    color: orange;
    border: 1px solid orange;
}